name: HVCC

on:
  push:
  pull_request:
    branches: [ develop ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.7', '3.8', '3.9', '3.10', '3.11']

    steps:
      - uses: actions/checkout@v3
        with:
          lfs: true
      - name: Initialize lfs
        run: git lfs pull
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install tox tox-gh-actions
      - name: Run tox
        run: tox

  dispatch:
    needs: build
    strategy:
      matrix:
        repo: ['Wasted-Audio/hvcc-examples-dpf', 'Wasted-Audio/hvcc-examples-js']
    runs-on: ubuntu-latest
    steps:
      - name: Repository Dispatch
        uses: peter-evans/repository-dispatch@v2
        with:
          token: ${{ secrets.HVCC_REPOSITORY_DISPATCH_TOKEN }}
          repository: ${{ matrix.repo }}
          event-type: nightly
          client-payload: '{"nightly": true, "branch": "develop"}'
        if: ${{ github.ref == 'refs/heads/develop' }}
